.badgeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 30px;
    opacity: 0;
    transform: translateX(-50px);
    transition: 500ms ease-in-out;
}

.showBadge {
    opacity: 1;
    transform: translateX(0px);
}

.badgeImg {
    width: 50%;
    border-radius: 50%;
}

.badgeInfoContainer {
    display: flex;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    border-radius: 0px 0px 0px 10px;
    flex-direction: column;
    opacity: 0.3;
}

.badgeInfoContainer:hover {
    opacity: 1;
}

.badgePhoneInfo, .badgeDescriptionInfo, .badgeNameInfo {
    margin: 1rem 1rem;
    color: white;
}